.logo1{
   width: 25%; 
   height: 35%;
}
.navbar-brand{
    width: fit-content;
    padding-left: 0px;
    
    text-align:end;
} 
.hum{
    color: white;
}
.left1{
    padding-right: 100px;
}
.nav-item{
    margin-right: 10px;
    padding-left: 30px;
    color: white;
}
.footer{
    color: white;
    background-color: #343a40;
}
.nav-link{
    color: white;
}
.image {
    height: 600px;
    width: 100%;            
}
.carousel-control .icon-prev,
.carousel-control .icon-next{
    position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  color: lightblue;
}
.carousel-control .icon-prev {
    right: 97%;
  }
  .carousel-control .icon-next {
    left: 97%;
  }
  .carousel-caption {
    font-size: xx-large;
    padding-bottom: 250px;
    color: white;
}
.logo2{
    height: 5%;
    width: 5%;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
}
.noBullet{
    list-style-type:none
}
.fab{
    color: lightblue;
}