body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: url("../images/istockphoto-974313674-612x612.jpg");
    background-color: #cccccc;
    height: 350px;
    width: 100%;
    margin: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  #new{
      margin: 30px;
  }
  #pricing-box .grid1{
	background-color: #f6f6f6;
    position: relative;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.grid1 span {
    position: relative;
    top: 0%;
	right: 0px;
    color: #F8F8FF;
	display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 30px;
    background-color: #00aeef;
	border-radius: 18px 18px 0 0;
}

.grid1 h2 {
    text-align: center;
    padding: 15px 0;
    color: #F8F8FF;
    background-color: #00aeef;
	font-size: 28px;
	font-weight: 600;
}

.grid1 .para{
	padding: 30px;
}

#pricing-box .grid2{
	background-color: #f6f6f6;
    position: relative;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.grid2 span {
    position: relative;
    top: 0%;
    right: 0%;
    color: #F8F8FF;
	display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 30px;
    background-color: #00aeef;
	border-radius: 18px 18px 0 0;
}

.grid2 h2 {
    text-align: center;
    padding: 15px 0;
    color: #F8F8FF;
    background-color: #00aeef;
	font-size: 28px;
	font-weight: 600;
}

.grid2 .para{
	padding: 30px;
}

#pricing-box .grid3{
	background-color: #f6f6f6;
    position: relative;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.grid3 span {
    position: relative;
    top: 0%;
    right: 0%;
    color: #F8F8FF;
	display: inline-block;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 30px;
    background-color: #00aeef;
	border-radius: 18px 18px 0 0;
}

.grid3 h2 {
    text-align: center;
    padding: 15px 0;
    color: #F8F8FF;
    background-color: #00aeef;
	font-size: 28px;
	font-weight: 600;
}

.grid3 .para{
	padding: 30px;
}

.para p{
	font-size: 16px;
	color: #2d3032;
}

.price-tit{
	background: #00aeef;
	padding: 20px;
}

.price-tit p{
	color: #ffffff;
	font-size: 18px;
}
.row{
    margin-top: 50px;
}


.logo1{
    width: 25%; 
    height: 35%;
 }
 .navbar-brand{
     width: fit-content;
     padding-left: 0px;
     
     text-align:end;
 } 
 .hum{
     color: white;
 }
 .left1{
     padding-right: 100px;
 }
 .nav-item{
     margin-right: 10px;
     padding-left: 30px;
     color: white;
 }
 .footer{
     color: white;
     background-color: #343a40;
 }
 .nav-link{
     color: white;
 }
 .image {
     height: 600px;
     width: 100%;            
 }
 .carousel-control .icon-prev,
 .carousel-control .icon-next{
     position: absolute;
   top: 50%;
   z-index: 5;
   display: inline-block;
   color: lightblue;
 }
 .carousel-control .icon-prev {
     right: 97%;
   }
   .carousel-control .icon-next {
     left: 97%;
   }
   .carousel-caption {
     font-size: xx-large;
     padding-bottom: 250px;
     color: white;
 }
 .logo2{
     height: 5%;
     width: 5%;
 }
 a{
     color: white;
 }
 a:hover{
     text-decoration: none;
 }
 .noBullet{
     list-style-type:none
 }
 .fab{
     color: lightblue;
 }